In [2]:
import time
import datetime
import pickle
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score

In [4]:
#Se carga la lista que contiene los datos meteorológicos

fh = open("aemet_2015_2021.pkl", "rb")
lista_datos = pickle.load(fh)
fh.close()

In [5]:
#Se carga el diccionario estaciones_provincia

fh = open("estaciones_provincia.pkl", "rb")
estaciones_provincia = pickle.load(fh)
fh.close()

estaciones_provincia

{'4358X': 'BADAJOZ',
 '4220X': 'CIUDAD REAL',
 'C447A': 'STA. CRUZ DE TENERIFE',
 '6106X': 'MALAGA',
 '9698U': 'LLEIDA',
 '4410X': 'BADAJOZ',
 '1331A': 'ASTURIAS',
 '1690A': 'OURENSE',
 '0002I': 'TARRAGONA',
 '8489X': 'CASTELLON',
 '8025': 'ALICANTE',
 'C449C': 'STA. CRUZ DE TENERIFE',
 '9784P': 'HUESCA',
 '2331': 'BURGOS',
 '9434': 'ZARAGOZA',
 '1109': 'CANTABRIA',
 '6293X': 'ALMERIA',
 '1212E': 'ASTURIAS',
 '3094B': 'CUENCA',
 '1059X': 'BIZKAIA',
 '1207U': 'ASTURIAS',
 '6367B': 'ALMERIA',
 '7228': 'MURCIA',
 '3168C': 'GUADALAJARA',
 '7002Y': 'MURCIA',
 'C649I': 'LAS PALMAS',
 '3191E': 'MADRID',
 '0016A': 'TARRAGONA',
 '8058X': 'VALENCIA',
 '0367': 'GIRONA',
 '7247X': 'ALICANTE',
 '3200': 'MADRID',
 '4103X': 'CIUDAD REAL',
 '3175': 'MADRID',
 '3129': 'MADRID',
 '4067': 'TOLEDO',
 'C689E': 'LAS PALMAS',
 '1014A': 'GIPUZKOA',
 '7031X': 'MURCIA',
 '7209': 'MURCIA',
 '3519X': 'CACERES',
 '2755X': 'ZAMORA',
 '8175': 'ALBACETE',
 '9244X': 'ZARAGOZA',
 '6277B': 'ALMERIA',
 '9170': 'LA RIOJA',
 'C659M': 'LAS PALMAS',
 '9111': 'BURGOS',
 '5246': 'JAEN',
 '7031': 'MURCIA',
 '5181D': 'JAEN',
 'B691Y': 'ILLES BALEARS',
 '1159': 'CANTABRIA',
 '3260B': 'TOLEDO',
 '1249I': 'ASTURIAS',
 '3194U': 'MADRID',
 '9283X': 'NAVARRA',
 '1283U': 'ASTURIAS',
 'C430E': 'STA. CRUZ DE TENERIFE',
 '1083L': 'CANTABRIA',
 '2117D': 'BURGOS',
 '5514': 'GRANADA',
 'B248': 'ILLES BALEARS',
 '2491C': 'SALAMANCA',
 '2661B': 'LEON',
 '5860E': 'HUELVA',
 '2465': 'SEGOVIA',
 'B228': 'ILLES BALEARS',
 'B013X': 'ILLES BALEARS',
 '4090Y': 'CUENCA',
 '0324A': 'GIRONA',
 '5995B': 'CADIZ',
 '1473A': 'A CORUÑA',
 'C839I': 'LAS PALMAS',
 '2811A': 'AVILA',
 '1024E': 'GIPUZKOA',
 '9619': 'LLEIDA',
 '5427X': 'CORDOBA',
 '1111': 'CANTABRIA',
 '2503X': 'VALLADOLID',
 '1082': 'BIZKAIA',
 'B569X': 'ILLES BALEARS',
 '7145D': 'MURCIA',
 '5402': 'CORDOBA',
 '1387E': 'A CORUÑA',
 '5641X': 'SEVILLA',
 '4148': 'CIUDAD REAL',
 '1002Y': 'NAVARRA',
 '6058I': 'MALAGA',
 '9898': 'HUESCA',
 '9569A': 'TERUEL',
 '1505': 'LUGO',
 '2661': 'LEON',
 '7096B': 'ALBACETE',
 '5960': 'CADIZ',
 '9434P': 'ZARAGOZA',
 '8019': 'ALICANTE',
 '8500A': 'CASTELLON',
 '5796': 'SEVILLA',
 '5047E': 'GRANADA',
 '5972X': 'CADIZ',
 '3463X': 'CACERES',
 '1475X': 'A CORUÑA',
 '0076': 'BARCELONA',
 '4061X': 'TOLEDO',
 '3110C': 'MADRID',
 '9990X': 'LLEIDA',
 '8325X': 'VALENCIA',
 '2867': 'SALAMANCA',
 'B346X': 'ILLES BALEARS',
 '2235U': 'PALENCIA',
 '1221D': 'ASTURIAS',
 '2775X': 'ZAMORA',
 '9981A': 'TARRAGONA',
 '3434X': 'CACERES',
 '1041A': 'GIPUZKOA',
 '1014': 'GIPUZKOA',
 '4267X': 'CORDOBA',
 'C629X': 'LAS PALMAS',
 '9294E': 'NAVARRA',
 '4386B': 'BADAJOZ',
 '4452': 'BADAJOZ',
 '3391': 'AVILA',
 '5390Y': 'CORDOBA',
 '9263X': 'NAVARRA',
 '9576C': 'ZARAGOZA',
 'C329Z': 'STA. CRUZ DE TENERIFE',
 '3013': 'GUADALAJARA',
 '8293X': 'VALENCIA',
 '0372C': 'GIRONA',
 '5704B': 'SEVILLA',
 '1437O': 'A CORUÑA',
 '5038X': 'JAEN',
 'C429I': 'STA. CRUZ DE TENERIFE',
 '8414A': 'VALENCIA',
 '5270B': 'JAEN',
 '9563X': 'CASTELLON',
 '1700X': 'OURENSE',
 '3526X': 'CACERES',
 '1387': 'A CORUÑA',
 '9381I': 'TERUEL',
 '4121': 'CIUDAD REAL',
 '8177A': 'ALBACETE',
 '1183X': 'ASTURIAS',
 '8368U': 'TERUEL',
 '8178D': 'ALBACETE',
 '1055B': 'BIZKAIA',
 '8416Y': 'VALENCIA',
 '5783': 'SEVILLA',
 '6205X': 'MALAGA',
 'C929I': 'STA. CRUZ DE TENERIFE',
 '1400': 'A CORUÑA',
 '6156X': 'MALAGA',
 '5530E': 'GRANADA',
 'C029O': 'LAS PALMAS',
 '6084X': 'MALAGA',
 '1078I': 'BIZKAIA',
 '9208E': 'HUESCA',
 '9987P': 'TARRAGONA',
 '0200E': 'BARCELONA',
 '9019B': 'CANTABRIA',
 '2946X': 'SALAMANCA',
 '1549': 'LEON',
 'C619I': 'LAS PALMAS',
 '3100B': 'MADRID',
 '4147X': 'CIUDAD REAL',
 '2400E': 'PALENCIA',
 '5000C': 'CEUTA',
 '9051': 'BURGOS',
 '7275C': 'MURCIA',
 '2298': 'BURGOS',
 '3168D': 'GUADALAJARA',
 '9585': 'GIRONA',
 '0229I': 'BARCELONA',
 '2462': 'MADRID',
 '2630X': 'LEON',
 'B278': 'ILLES BALEARS',
 '3298X': 'TOLEDO',
 '4244X': 'BADAJOZ',
 '2539': 'VALLADOLID',
 '7178I': 'MURCIA',
 'B434X': 'ILLES BALEARS',
 '2444': 'AVILA',
 '6302A': 'ALMERIA',
 '3196': 'MADRID',
 '2030': 'SORIA',
 '4560Y': 'HUELVA',
 '1050J': 'GIPUZKOA',
 '0149X': 'BARCELONA',
 '8309X': 'VALENCIA',
 '1393': 'A CORUÑA',
 '1495': 'PONTEVEDRA',
 '1249X': 'ASTURIAS',
 '5582A': 'GRANADA',
 '6155A': 'MALAGA',
 'C249I': 'LAS PALMAS',
 '3576X': 'CACERES',
 '2870': 'SALAMANCA',
 '1351': 'A CORUÑA',
 '1631E': 'OURENSE',
 '7012C': 'MURCIA',
 '1057B': 'BIZKAIA',
 '3338': 'MADRID',
 '2374X': 'PALENCIA',
 '1484C': 'PONTEVEDRA',
 '0252D': 'BARCELONA',
 '5911A': 'CADIZ',
 '1428': 'A CORUÑA',
 '0201D': 'BARCELONA',
 '9091O': 'ARABA/ALAVA',
 '3365A': 'TOLEDO',
 '5298X': 'JAEN',
 '6000A': 'MELILLA',
 '5973': 'CADIZ',
 '2916A': 'SALAMANCA',
 '2150H': 'SEGOVIA',
 '9771C': 'LLEIDA',
 '9390': 'ZARAGOZA',
 '2614': 'ZAMORA',
 '1208H': 'ASTURIAS',
 '1037Y': 'GIPUZKOA',
 '4511C': 'BADAJOZ',
 '8523X': 'CASTELLON',
 '9001D': 'CANTABRIA',
 '8096': 'CUENCA',
 '9814A': 'HUESCA',
 '6325O': 'ALMERIA',
 '1542': 'ASTURIAS',
 'C129Z': 'STA. CRUZ DE TENERIFE',
 '1111X': 'CANTABRIA',
 '4642E': 'HUELVA',
 '2422': 'VALLADOLID',
 'C139E': 'STA. CRUZ DE TENERIFE',
 '5051X': 'GRANADA',
 '5910': 'CADIZ',
 '9091R': 'ARABA/ALAVA',
 '4549Y': 'HUELVA',
 '3130C': 'GUADALAJARA',
 '2737E': 'LEON',
 '1210X': 'ASTURIAS',
 'B954': 'ILLES BALEARS',
 'C439J': 'STA. CRUZ DE TENERIFE',
 '3469A': 'CACERES',
 '8050X': 'ALICANTE',
 '9262': 'NAVARRA',
 '6001': 'CADIZ',
 '9263D': 'NAVARRA',
 '3195': 'MADRID',
 'B893': 'ILLES BALEARS',
 '9573X': 'TERUEL',
 '8416': 'VALENCIA',
 '7119B': 'MURCIA',
 '0255B': 'BARCELONA',
 '5612B': 'SEVILLA',
 '9394X': 'ZARAGOZA',
 '1735X': 'OURENSE',
 'C459Z': 'STA. CRUZ DE TENERIFE',
 '9201K': 'HUESCA',
 'C229J': 'LAS PALMAS',
 'C659H': 'LAS PALMAS',
 '3266A': 'MADRID',
 '6381': 'ALMERIA',
 '5192': 'JAEN',
 '3044X': 'CUENCA',
 '9720X': 'LLEIDA',
 '3111D': 'MADRID',
 '6268X': 'GRANADA',
 '6332X': 'ALMERIA',
 '6172O': 'MALAGA',
 '6032B': 'MALAGA'}

# PREPROCESAMIENTO

### Se preprocesa el archivo que contiene los datos del precio de la electricidad por fecha

In [64]:
#Se carga el dataframe con la información del precio de la electricidad

df = pd.read_csv("PrecioMedioHorarioFinalSumaDeComponentes_2015-2021.csv", delimiter = ";")
df

,id,name,geoid,geoname,value,datetime
0,10211,Precio medio horario final suma de componentes,NaN,NaN,65.41,2015-01-01T00:00:00+01:00
1,10211,Precio medio horario final suma de componentes,NaN,NaN,64.92,2015-01-01T01:00:00+01:00
2,10211,Precio medio horario final suma de componentes,NaN,NaN,64.48,2015-01-01T02:00:00+01:00
3,10211,Precio medio horario final suma de componentes,NaN,NaN,59.32,2015-01-01T03:00:00+01:00
4,10211,Precio medio horario final suma de componentes,NaN,NaN,56.04,2015-01-01T04:00:00+01:00
...,...,...,...,...,...,...
54019,10211,Precio medio horario final suma de componentes,NaN,NaN,42.19,2021-02-28T19:00:00+01:00
54020,10211,Precio medio horario final suma de componentes,NaN,NaN,47.78,2021-02-28T20:00:00+01:00
54021,10211,Precio medio horario final suma de componentes,NaN,NaN,46.27,2021-02-28T21:00:00+01:00
54022,10211,Precio medio horario final suma de componentes,NaN,NaN,37.03,2021-02-28T22:00:00+01:00
54023,10211,Precio medio horario final suma de componentes,NaN,NaN,31.46,2021-02-28T23:00:00+01:00

In [65]:
#Se eliminan las columnas "id", "name", "geoid" y "geoname", ya que no aportan nada de información

df.drop(["id", "name", "geoid", "geoname"], axis = 1, inplace = True)
df

       value                   datetime
0      65.41  2015-01-01T00:00:00+01:00
1      64.92  2015-01-01T01:00:00+01:00
2      64.48  2015-01-01T02:00:00+01:00
3      59.32  2015-01-01T03:00:00+01:00
4      56.04  2015-01-01T04:00:00+01:00
...      ...                        ...
54019  42.19  2021-02-28T19:00:00+01:00
54020  47.78  2021-02-28T20:00:00+01:00
54021  46.27  2021-02-28T21:00:00+01:00
54022  37.03  2021-02-28T22:00:00+01:00
54023  31.46  2021-02-28T23:00:00+01:00

[54024 rows x 2 columns]

In [66]:
#Se separa la variable "datetime" en dos variables: "date" y "time"

df["date"] = df["datetime"].map(lambda x : x.split("T")[0])
df["time"] = df["datetime"].map(lambda x : x.split("T")[1].split(":")[0])
df.drop("datetime", axis = 1, inplace = True)
df

       value        date time
0      65.41  2015-01-01   00
1      64.92  2015-01-01   01
2      64.48  2015-01-01   02
3      59.32  2015-01-01   03
4      56.04  2015-01-01   04
...      ...         ...  ...
54019  42.19  2021-02-28   19
54020  47.78  2021-02-28   20
54021  46.27  2021-02-28   21
54022  37.03  2021-02-28   22
54023  31.46  2021-02-28   23

[54024 rows x 3 columns]

In [67]:
#Se crea una variable que indica el día de la semana (desde el 1, que es lunes, hasta el 7, que es domingo)

for i in range(len(df)):
    df.loc[i, "weekday"] = datetime.datetime.strptime(df.loc[i,"date"], "%Y-%m-%d").isoweekday()
    
df["weekday"] = df["weekday"].astype("int8")
df

       value        date time  weekday
0      65.41  2015-01-01   00        4
1      64.92  2015-01-01   01        4
2      64.48  2015-01-01   02        4
3      59.32  2015-01-01   03        4
4      56.04  2015-01-01   04        4
...      ...         ...  ...      ...
54019  42.19  2021-02-28   19        7
54020  47.78  2021-02-28   20        7
54021  46.27  2021-02-28   21        7
54022  37.03  2021-02-28   22        7
54023  31.46  2021-02-28   23        7

[54024 rows x 4 columns]

### Se obtiene un único dataframe conjunto de electricidad y datos meteorológicos

In [68]:
#Se crea un set que contenga los id de todas las estaciones meteorológicas

estaciones = []
for i in lista_datos:
    for j in i:
        estaciones.append(j["indicativo"])
        
set_estaciones = set(estaciones)

In [69]:
#Se amplía el "esqueleto" del dataframe, añadiéndo las siguientes variables:
#tmed (temperautra media del día)
#prec (precipitaciones totales del día)
#velmedia (velocidad media del viento del día)
#sol (horas de sol del día)
#Cada estación meteorológica (representada por su indicativo) tiene estas cuatro variables (es decir, se han creado las cuatro variables por cada estación)

for i in set_estaciones:
    for j in ["tmed", "prec", "velmedia", "sol"]:
        variable = str(i + "-" + j)
        df[variable] = np.nan

df

,value,date,time,weekday,2867-tmed,2867-prec,2867-velmedia,2867-sol,1083L-tmed,1083L-prec,...,6325O-velmedia,6325O-sol,B569X-tmed,B569X-prec,B569X-velmedia,B569X-sol,9576C-tmed,9576C-prec,9576C-velmedia,9576C-sol
0,65.41,2015-01-01,00,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,64.92,2015-01-01,01,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64.48,2015-01-01,02,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59.32,2015-01-01,03,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,56.04,2015-01-01,04,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54019,42.19,2021-02-28,19,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54020,47.78,2021-02-28,20,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54021,46.27,2021-02-28,21,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54022,37.03,2021-02-28,22,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54023,31.46,2021-02-28,23,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
%%time

#Se rellenan las variables creadas anteriormente a partir de los datos de la lista meteorológica

for z in lista_datos:
    for i in z:
        id_estacion = i["indicativo"]
        fecha = i["fecha"]
        indices = df[df["date"] == fecha].index
        
        try:
            tmed = float(i["tmed"].replace(",", "."))
            for j in indices:
                df.loc[j,(id_estacion + "-" + "tmed")] = tmed
        except:
            pass

        try:
            prec = float(i["prec"].replace(",", "."))
            for j in indices:
                df.loc[j,(id_estacion + "-" + "prec")] = prec
        except:
            pass

        try:
            velmedia = float(i["velmedia"].replace(",", "."))
            for j in indices:
                df.loc[j,(id_estacion + "-" + "velmedia")] = velmedia
        except:
            pass

        try:
            sol = float(i["sol"].replace(",", "."))
            for j in indices:
                df.loc[j,(id_estacion + "-" + "sol")] = sol
        except:
            pass
    
df

Wall time: 5h 26min 9s

,value,date,time,weekday,2867-tmed,2867-prec,2867-velmedia,2867-sol,1083L-tmed,1083L-prec,...,6325O-velmedia,6325O-sol,B569X-tmed,B569X-prec,B569X-velmedia,B569X-sol,9576C-tmed,9576C-prec,9576C-velmedia,9576C-sol
0,65.41,2015-01-01,00,4,2.0,0.0,1.1,9.1,9.8,0.0,...,3.9,8.3,12.6,0.0,6.9,NaN,NaN,0.0,2.2,NaN
1,64.92,2015-01-01,01,4,2.0,0.0,1.1,9.1,9.8,0.0,...,3.9,8.3,12.6,0.0,6.9,NaN,NaN,0.0,2.2,NaN
2,64.48,2015-01-01,02,4,2.0,0.0,1.1,9.1,9.8,0.0,...,3.9,8.3,12.6,0.0,6.9,NaN,NaN,0.0,2.2,NaN
3,59.32,2015-01-01,03,4,2.0,0.0,1.1,9.1,9.8,0.0,...,3.9,8.3,12.6,0.0,6.9,NaN,NaN,0.0,2.2,NaN
4,56.04,2015-01-01,04,4,2.0,0.0,1.1,9.1,9.8,0.0,...,3.9,8.3,12.6,0.0,6.9,NaN,NaN,0.0,2.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54019,42.19,2021-02-28,19,7,6.0,0.0,2.5,10.2,9.1,3.3,...,7.2,6.9,14.4,0.0,5.6,NaN,NaN,NaN,NaN,NaN
54020,47.78,2021-02-28,20,7,6.0,0.0,2.5,10.2,9.1,3.3,...,7.2,6.9,14.4,0.0,5.6,NaN,NaN,NaN,NaN,NaN
54021,46.27,2021-02-28,21,7,6.0,0.0,2.5,10.2,9.1,3.3,...,7.2,6.9,14.4,0.0,5.6,NaN,NaN,NaN,NaN,NaN
54022,37.03,2021-02-28,22,7,6.0,0.0,2.5,10.2,9.1,3.3,...,7.2,6.9,14.4,0.0,5.6,NaN,NaN,NaN,NaN,NaN
54023,31.46,2021-02-28,23,7,6.0,0.0,2.5,10.2,9.1,3.3,...,7.2,6.9,14.4,0.0,5.6,NaN,NaN,NaN,NaN,NaN

In [71]:
#Se guarda el dataframe

# fh = open("df.pkl", "wb")
# pickle.dump(df, fh)
# fh.close()

In [6]:
#Se carga el dataframe

fh = open("df.pkl", "rb")
df = pickle.load(fh)
fh.close()

### Agrupamiento por provincias

In [7]:
#Se crea un diccionario nuevo que tiene como llaves cadenas de texto formadas por cada una de las provincias y las 4 variables que se analizan
#Los valores son todas las medicciones de esa variable de las estaciones situadas en esa provincia

dicc = {}

for i in set(estaciones_provincia.values()):      #Se recorren las provincias (valores únicos)
    for j in ["tmed", "prec", "velmedia", "sol"]: # Se recorren las variables meteorológicas
        llave = i + "-" + j                       #Cadena de texto (PROVINCIA-VARIABLE_METEOROLOGICA) que es la nueva llave
        dicc[llave] = np.array([])                #En la nueva llave se introduce como valor un vector vacío 
        for z in df.columns[4:]:                  #Se recorren los nombres de las columnas del dataframe
            estacion = z.split("-")[0]            #Del nombre de la columna, se escoge la primera parte que indica el indicativo de la estación
            variable = z.split("-")[1]            #Del nombre de la columna, se escoge la segunda parte que indica la variable meteorológica
            if (estaciones_provincia[estacion] == i) & (variable == j):
                dicc[llave] = np.append(dicc[llave], df.loc[:,z]) #Se va rellenando el vector con los valores de la columna del dataframe seleccionada

dicc

{'CASTELLON-tmed': array([8. , 8. , 8. , ..., 4.1, 4.1, 4.1]),
 'CASTELLON-prec': array([0. , 0. , 0. , ..., 0.9, 0.9, 0.9]),
 'CASTELLON-velmedia': array([1.7, 1.7, 1.7, ..., nan, nan, nan]),
 'CASTELLON-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'LLEIDA-tmed': array([nan, nan, nan, ..., 11., 11., 11.]),
 'LLEIDA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'LLEIDA-velmedia': array([nan, nan, nan, ..., 1.7, 1.7, 1.7]),
 'LLEIDA-sol': array([nan, nan, nan, ..., 2.2, 2.2, 2.2]),
 'AVILA-tmed': array([ 9.,  9.,  9., ..., nan, nan, nan]),
 'AVILA-prec': array([ 0.,  0.,  0., ..., nan, nan, nan]),
 'AVILA-velmedia': array([0.8, 0.8, 0.8, ..., nan, nan, nan]),
 'AVILA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'CEUTA-tmed': array([13.4, 13.4, 13.4, ..., 14. , 14. , 14. ]),
 'CEUTA-prec': array([ 0. ,  0. ,  0. , ..., 22.8, 22.8, 22.8]),
 'CEUTA-velmedia': array([3.9, 3.9, 3.9, ..., 6.7, 6.7, 6.7]),
 'CEUTA-sol': array([6.1, 6.1, 6.1, ..., 0. , 0. , 0. ]),
 'CUENCA-tmed': array([6. , 6. , 6. , ..., 7.4, 7.4, 7.4]),
 'CUENCA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'CUENCA-velmedia': array([1.4, 1.4, 1.4, ..., 4.2, 4.2, 4.2]),
 'CUENCA-sol': array([8.5, 8.5, 8.5, ..., 3. , 3. , 3. ]),
 'PONTEVEDRA-tmed': array([ 8.3,  8.3,  8.3, ..., 12.4, 12.4, 12.4]),
 'PONTEVEDRA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'PONTEVEDRA-velmedia': array([2.5, 2.5, 2.5, ..., 1.9, 1.9, 1.9]),
 'PONTEVEDRA-sol': array([ 6.8,  6.8,  6.8, ..., 10.2, 10.2, 10.2]),
 'MURCIA-tmed': array([ 7.4,  7.4,  7.4, ..., 11.3, 11.3, 11.3]),
 'MURCIA-prec': array([0. , 0. , 0. , ..., 0.2, 0.2, 0.2]),
 'MURCIA-velmedia': array([1.4, 1.4, 1.4, ..., 1.9, 1.9, 1.9]),
 'MURCIA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'GRANADA-tmed': array([3.9, 3.9, 3.9, ..., 7.6, 7.6, 7.6]),
 'GRANADA-prec': array([0. , 0. , 0. , ..., 0.2, 0.2, 0.2]),
 'GRANADA-velmedia': array([0.6, 0.6, 0.6, ..., 3.3, 3.3, 3.3]),
 'GRANADA-sol': array([9., 9., 9., ..., 0., 0., 0.]),
 'ZARAGOZA-tmed': array([6.2, 6.2, 6.2, ..., nan, nan, nan]),
 'ZARAGOZA-prec': array([ 0.,  0.,  0., ..., nan, nan, nan]),
 'ZARAGOZA-velmedia': array([1.7, 1.7, 1.7, ..., nan, nan, nan]),
 'ZARAGOZA-sol': array([8.8, 8.8, 8.8, ..., nan, nan, nan]),
 'LEON-tmed': array([ 3.1,  3.1,  3.1, ..., 10.2, 10.2, 10.2]),
 'LEON-prec': array([0. , 0. , 0. , ..., 0.8, 0.8, 0.8]),
 'LEON-velmedia': array([1.1, 1.1, 1.1, ..., 1.9, 1.9, 1.9]),
 'LEON-sol': array([6. , 6. , 6. , ..., 9.9, 9.9, 9.9]),
 'ARABA/ALAVA-tmed': array([2.6, 2.6, 2.6, ..., 6.6, 6.6, 6.6]),
 'ARABA/ALAVA-prec': array([0. , 0. , 0. , ..., 0.5, 0.5, 0.5]),
 'ARABA/ALAVA-velmedia': array([0.6, 0.6, 0.6, ..., 2.5, 2.5, 2.5]),
 'ARABA/ALAVA-sol': array([8.6, 8.6, 8.6, ..., 0.7, 0.7, 0.7]),
 'VALENCIA-tmed': array([ 8.2,  8.2,  8.2, ..., 12.8, 12.8, 12.8]),
 'VALENCIA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'VALENCIA-velmedia': array([1.4, 1.4, 1.4, ..., nan, nan, nan]),
 'VALENCIA-sol': array([nan, nan, nan, ..., 1.2, 1.2, 1.2]),
 'BADAJOZ-tmed': array([ 7.7,  7.7,  7.7, ..., 10.2, 10.2, 10.2]),
 'BADAJOZ-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'BADAJOZ-velmedia': array([3.9, 3.9, 3.9, ..., 0.8, 0.8, 0.8]),
 'BADAJOZ-sol': array([9.3, 9.3, 9.3, ..., 8.9, 8.9, 8.9]),
 'ALICANTE-tmed': array([ 3.7,  3.7,  3.7, ..., 13.8, 13.8, 13.8]),
 'ALICANTE-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'ALICANTE-velmedia': array([1.1, 1.1, 1.1, ..., 4.2, 4.2, 4.2]),
 'ALICANTE-sol': array([nan, nan, nan, ..., 6.5, 6.5, 6.5]),
 'SEVILLA-tmed': array([ 9. ,  9. ,  9. , ..., 12.8, 12.8, 12.8]),
 'SEVILLA-prec': array([0. , 0. , 0. , ..., 2.6, 2.6, 2.6]),
 'SEVILLA-velmedia': array([2.5, 2.5, 2.5, ..., 3.3, 3.3, 3.3]),
 'SEVILLA-sol': array([9.2, 9.2, 9.2, ..., nan, nan, nan]),
 'PALENCIA-tmed': array([4. , 4. , 4. , ..., 3.4, 3.4, 3.4]),
 'PALENCIA-prec': array([0. , 0. , 0. , ..., 2.2, 2.2, 2.2]),
 'PALENCIA-velmedia': array([0.6, 0.6, 0.6, ..., 3.1, 3.1, 3.1]),
 'PALENCIA-sol': array([8. , 8. , 8. , ..., 9.2, 9.2, 9.2]),
 'SEGOVIA-tmed': array([3.4, 3.4, 3.4, ..., 2.2, 2.2, 2.2]),
 'SEGOVIA-prec': array([0. , 0. , 0. , ..., 0.2, 0.2, 0.2]),
 'SEGOVIA-velmedia': array([2.2, 2.2, 2.2, ..., nan, nan, nan]),
 'SEGOVIA-sol': array([8.5, 8.5, 8.5, ..., 6.2, 6.2, 6.2]),
 'SALAMANCA-tmed': array([2. , 2. , 2. , ..., 8.6, 8.6, 8.6]),
 'SALAMANCA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'SALAMANCA-velmedia': array([1.1, 1.1, 1.1, ..., 2.2, 2.2, 2.2]),
 'SALAMANCA-sol': array([ 9.1,  9.1,  9.1, ..., 10.5, 10.5, 10.5]),
 'MALAGA-tmed': array([12.2, 12.2, 12.2, ..., 15.4, 15.4, 15.4]),
 'MALAGA-prec': array([0. , 0. , 0. , ..., 1.4, 1.4, 1.4]),
 'MALAGA-velmedia': array([3.9, 3.9, 3.9, ..., 4.7, 4.7, 4.7]),
 'MALAGA-sol': array([5.4, 5.4, 5.4, ..., 1.3, 1.3, 1.3]),
 'JAEN-tmed': array([6.2, 6.2, 6.2, ..., nan, nan, nan]),
 'JAEN-prec': array([ 0.,  0.,  0., ..., nan, nan, nan]),
 'JAEN-velmedia': array([1.7, 1.7, 1.7, ..., nan, nan, nan]),
 'JAEN-sol': array([7.8, 7.8, 7.8, ..., nan, nan, nan]),
 'BIZKAIA-tmed': array([7.6, 7.6, 7.6, ..., 9.4, 9.4, 9.4]),
 'BIZKAIA-prec': array([0.1, 0.1, 0.1, ..., 6. , 6. , 6. ]),
 'BIZKAIA-velmedia': array([2.2, 2.2, 2.2, ..., 3.6, 3.6, 3.6]),
 'BIZKAIA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'SORIA-tmed': array([6.8, 6.8, 6.8, ..., 4.2, 4.2, 4.2]),
 'SORIA-prec': array([0. , 0. , 0. , ..., 0.6, 0.6, 0.6]),
 'SORIA-velmedia': array([3.6, 3.6, 3.6, ..., 2.2, 2.2, 2.2]),
 'SORIA-sol': array([8.7, 8.7, 8.7, ..., 0.8, 0.8, 0.8]),
 'BARCELONA-tmed': array([ nan,  nan,  nan, ..., 12.8, 12.8, 12.8]),
 'BARCELONA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'BARCELONA-velmedia': array([nan, nan, nan, ..., 4.4, 4.4, 4.4]),
 'BARCELONA-sol': array([nan, nan, nan, ..., 9.4, 9.4, 9.4]),
 'GIRONA-tmed': array([ 5.2,  5.2,  5.2, ..., 10.4, 10.4, 10.4]),
 'GIRONA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'GIRONA-velmedia': array([1.1, 1.1, 1.1, ..., 1.1, 1.1, 1.1]),
 'GIRONA-sol': array([8.3, 8.3, 8.3, ..., nan, nan, nan]),
 'OURENSE-tmed': array([ 5. ,  5. ,  5. , ..., 11.8, 11.8, 11.8]),
 'OURENSE-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'OURENSE-velmedia': array([1.1, 1.1, 1.1, ..., 0.3, 0.3, 0.3]),
 'OURENSE-sol': array([7.2, 7.2, 7.2, ..., nan, nan, nan]),
 'ILLES BALEARS-tmed': array([ 5.8,  5.8,  5.8, ..., 14.4, 14.4, 14.4]),
 'ILLES BALEARS-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'ILLES BALEARS-velmedia': array([0.3, 0.3, 0.3, ..., 5.6, 5.6, 5.6]),
 'ILLES BALEARS-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'STA. CRUZ DE TENERIFE-tmed': array([19.4, 19.4, 19.4, ..., 18. , 18. , 18. ]),
 'STA. CRUZ DE TENERIFE-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'STA. CRUZ DE TENERIFE-velmedia': array([10. , 10. , 10. , ...,  2.5,  2.5,  2.5]),
 'STA. CRUZ DE TENERIFE-sol': array([1.9, 1.9, 1.9, ..., nan, nan, nan]),
 'CACERES-tmed': array([ 6. ,  6. ,  6. , ..., 10.6, 10.6, 10.6]),
 'CACERES-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'CACERES-velmedia': array([1.4, 1.4, 1.4, ..., 1.9, 1.9, 1.9]),
 'CACERES-sol': array([8.3, 8.3, 8.3, ..., nan, nan, nan]),
 'HUELVA-tmed': array([11.8, 11.8, 11.8, ..., 13.9, 13.9, 13.9]),
 'HUELVA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'HUELVA-velmedia': array([nan, nan, nan, ..., 0.8, 0.8, 0.8]),
 'HUELVA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'MADRID-tmed': array([nan, nan, nan, ..., 4.3, 4.3, 4.3]),
 'MADRID-prec': array([nan, nan, nan, ..., 0.1, 0.1, 0.1]),
 'MADRID-velmedia': array([nan, nan, nan, ..., 2.2, 2.2, 2.2]),
 'MADRID-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'BURGOS-tmed': array([4.6, 4.6, 4.6, ..., 4.4, 4.4, 4.4]),
 'BURGOS-prec': array([0. , 0. , 0. , ..., 6.6, 6.6, 6.6]),
 'BURGOS-velmedia': array([1.9, 1.9, 1.9, ..., 1.1, 1.1, 1.1]),
 'BURGOS-sol': array([7.3, 7.3, 7.3, ..., 0. , 0. , 0. ]),
 'LUGO-tmed': array([3.9, 3.9, 3.9, ..., 6.9, 6.9, 6.9]),
 'LUGO-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'LUGO-velmedia': array([0.3, 0.3, 0.3, ..., 2.2, 2.2, 2.2]),
 'LUGO-sol': array([ 6.7,  6.7,  6.7, ..., 10.2, 10.2, 10.2]),
 'CANTABRIA-tmed': array([9.8, 9.8, 9.8, ..., 7.7, 7.7, 7.7]),
 'CANTABRIA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'CANTABRIA-velmedia': array([0.8, 0.8, 0.8, ..., 4.7, 4.7, 4.7]),
 'CANTABRIA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'CORDOBA-tmed': array([ 5.2,  5.2,  5.2, ..., 13. , 13. , 13. ]),
 'CORDOBA-prec': array([0. , 0. , 0. , ..., 0.8, 0.8, 0.8]),
 'CORDOBA-velmedia': array([1.4, 1.4, 1.4, ..., 1.7, 1.7, 1.7]),
 'CORDOBA-sol': array([nan, nan, nan, ..., 8.4, 8.4, 8.4]),
 'ALBACETE-tmed': array([6.6, 6.6, 6.6, ..., 7.4, 7.4, 7.4]),
 'ALBACETE-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'ALBACETE-velmedia': array([1.1, 1.1, 1.1, ..., 1.4, 1.4, 1.4]),
 'ALBACETE-sol': array([nan, nan, nan, ..., 0.1, 0.1, 0.1]),
 'LAS PALMAS-tmed': array([18.6, 18.6, 18.6, ..., 17.6, 17.6, 17.6]),
 'LAS PALMAS-prec': array([0. , 0. , 0. , ..., 0.7, 0.7, 0.7]),
 'LAS PALMAS-velmedia': array([2.5, 2.5, 2.5, ..., 7.5, 7.5, 7.5]),
 'LAS PALMAS-sol': array([nan, nan, nan, ...,  8.,  8.,  8.]),
 'CIUDAD REAL-tmed': array([ 3.2,  3.2,  3.2, ..., 11.2, 11.2, 11.2]),
 'CIUDAD REAL-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'CIUDAD REAL-velmedia': array([1.1, 1.1, 1.1, ..., 3.3, 3.3, 3.3]),
 'CIUDAD REAL-sol': array([8.9, 8.9, 8.9, ..., nan, nan, nan]),
 'ZAMORA-tmed': array([5.2, 5.2, 5.2, ..., 7.6, 7.6, 7.6]),
 'ZAMORA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'ZAMORA-velmedia': array([0.8, 0.8, 0.8, ..., 1.4, 1.4, 1.4]),
 'ZAMORA-sol': array([8.4, 8.4, 8.4, ..., 9.8, 9.8, 9.8]),
 'TARRAGONA-tmed': array([ nan,  nan,  nan, ..., 12.4, 12.4, 12.4]),
 'TARRAGONA-prec': array([nan, nan, nan, ...,  0.,  0.,  0.]),
 'TARRAGONA-velmedia': array([0.3, 0.3, 0.3, ..., 3.6, 3.6, 3.6]),
 'TARRAGONA-sol': array([nan, nan, nan, ..., 4.6, 4.6, 4.6]),
 'ASTURIAS-tmed': array([nan, nan, nan, ..., 9.6, 9.6, 9.6]),
 'ASTURIAS-prec': array([nan, nan, nan, ...,  0.,  0.,  0.]),
 'ASTURIAS-velmedia': array([1.9, 1.9, 1.9, ..., 5.3, 5.3, 5.3]),
 'ASTURIAS-sol': array([nan, nan, nan, ..., 4.3, 4.3, 4.3]),
 'NAVARRA-tmed': array([1.1, 1.1, 1.1, ..., nan, nan, nan]),
 'NAVARRA-prec': array([0. , 0. , 0. , ..., 1.2, 1.2, 1.2]),
 'NAVARRA-velmedia': array([0.3, 0.3, 0.3, ..., nan, nan, nan]),
 'NAVARRA-sol': array([nan, nan, nan, ..., nan, nan, nan]),
 'CADIZ-tmed': array([11., 11., 11., ..., 13., 13., 13.]),
 'CADIZ-prec': array([0. , 0. , 0. , ..., 2.5, 2.5, 2.5]),
 'CADIZ-velmedia': array([3.6, 3.6, 3.6, ..., 6.7, 6.7, 6.7]),
 'CADIZ-sol': array([nan, nan, nan, ..., 7.1, 7.1, 7.1]),
 'GUADALAJARA-tmed': array([2.8, 2.8, 2.8, ..., 6.4, 6.4, 6.4]),
 'GUADALAJARA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'GUADALAJARA-velmedia': array([nan, nan, nan, ..., 2.5, 2.5, 2.5]),
 'GUADALAJARA-sol': array([nan, nan, nan, ..., 7.7, 7.7, 7.7]),
 'ALMERIA-tmed': array([ 7. ,  7. ,  7. , ..., 14.8, 14.8, 14.8]),
 'ALMERIA-prec': array([0. , 0. , 0. , ..., 0.1, 0.1, 0.1]),
 'ALMERIA-velmedia': array([2.2, 2.2, 2.2, ..., 7.2, 7.2, 7.2]),
 'ALMERIA-sol': array([nan, nan, nan, ..., 6.9, 6.9, 6.9]),
 'TOLEDO-tmed': array([ 4.3,  4.3,  4.3, ..., 11.6, 11.6, 11.6]),
 'TOLEDO-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'TOLEDO-velmedia': array([0.6, 0.6, 0.6, ..., 5.3, 5.3, 5.3]),
 'TOLEDO-sol': array([nan, nan, nan, ..., 9.5, 9.5, 9.5]),
 'MELILLA-tmed': array([ 9.8,  9.8,  9.8, ..., 14.8, 14.8, 14.8]),
 'MELILLA-prec': array([0. , 0. , 0. , ..., 5.8, 5.8, 5.8]),
 'MELILLA-velmedia': array([2.2, 2.2, 2.2, ..., 6.9, 6.9, 6.9]),
 'MELILLA-sol': array([9.2, 9.2, 9.2, ..., 0. , 0. , 0. ]),
 'LA RIOJA-tmed': array([7.9, 7.9, 7.9, ..., 7.2, 7.2, 7.2]),
 'LA RIOJA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'LA RIOJA-velmedia': array([3.1, 3.1, 3.1, ..., 4.7, 4.7, 4.7]),
 'LA RIOJA-sol': array([8. , 8. , 8. , ..., 0.5, 0.5, 0.5]),
 'A CORUÑA-tmed': array([10.9, 10.9, 10.9, ..., 10.8, 10.8, 10.8]),
 'A CORUÑA-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'A CORUÑA-velmedia': array([1.4, 1.4, 1.4, ..., 2.5, 2.5, 2.5]),
 'A CORUÑA-sol': array([7.1, 7.1, 7.1, ..., nan, nan, nan]),
 'HUESCA-tmed': array([nan, nan, nan, ..., 4.6, 4.6, 4.6]),
 'HUESCA-prec': array([nan, nan, nan, ..., 3.6, 3.6, 3.6]),
 'HUESCA-velmedia': array([nan, nan, nan, ..., 3.3, 3.3, 3.3]),
 'HUESCA-sol': array([nan, nan, nan, ..., 0.7, 0.7, 0.7]),
 'VALLADOLID-tmed': array([2.2, 2.2, 2.2, ..., 7.9, 7.9, 7.9]),
 'VALLADOLID-prec': array([0. , 0. , 0. , ..., 3.8, 3.8, 3.8]),
 'VALLADOLID-velmedia': array([1.4, 1.4, 1.4, ..., 1.4, 1.4, 1.4]),
 'VALLADOLID-sol': array([ 8.2,  8.2,  8.2, ..., 10.1, 10.1, 10.1]),
 'GIPUZKOA-tmed': array([nan, nan, nan, ..., 8.6, 8.6, 8.6]),
 'GIPUZKOA-prec': array([0. , 0. , 0. , ..., 2.4, 2.4, 2.4]),
 'GIPUZKOA-velmedia': array([1.1, 1.1, 1.1, ..., 1.7, 1.7, 1.7]),
 'GIPUZKOA-sol': array([7.8, 7.8, 7.8, ..., 1.7, 1.7, 1.7]),
 'TERUEL-tmed': array([5.2, 5.2, 5.2, ..., 8.2, 8.2, 8.2]),
 'TERUEL-prec': array([0., 0., 0., ..., 0., 0., 0.]),
 'TERUEL-velmedia': array([1.4, 1.4, 1.4, ..., 3.9, 3.9, 3.9]),
 'TERUEL-sol': array([nan, nan, nan, ..., 7.4, 7.4, 7.4])}

In [8]:
#Comprobación de que cada vector del diccionario es divisible por el número de registros (54024) que hay en el dataframe original
#Así se comprueba que la anterior celda se ha ejecutado de manera correcta

for i in dicc:
    if len(dicc[i])%len(df) !=0:
        print("error")
    else:
        pass

In [25]:
#Se crea un nuevo dataframe que ya no contendrá todas las estaciones meteorológicas
#Sino la agrupación de ellas por provincias

df_provincias = df.iloc[:,0:4]
df_provincias

       value        date time  weekday
0      65.41  2015-01-01   00        4
1      64.92  2015-01-01   01        4
2      64.48  2015-01-01   02        4
3      59.32  2015-01-01   03        4
4      56.04  2015-01-01   04        4
...      ...         ...  ...      ...
54019  42.19  2021-02-28   19        7
54020  47.78  2021-02-28   20        7
54021  46.27  2021-02-28   21        7
54022  37.03  2021-02-28   22        7
54023  31.46  2021-02-28   23        7

[54024 rows x 4 columns]

In [26]:
%%time

#Se crean las nuevas columnas del dataframe y se rellenan con los valores que proceden

for i in dicc:
    lista = []
    vector = dicc[i] #La variable vector contiene todos los valores de una variable meteorológica para una provincia
    series = int(len(dicc[i])/len(df)) #Se calcula cuántas veces hay 54024 registros (esto indica el número de estaciones que hay en una provincia)
    for j in range(len(df)):
        subvector = np.array([])
        for z in range(series):
            subvector = np.append(subvector, vector[j+len(df)*z]) #En el subvector se añaden los valores de cada estación meteorológica de una provincia en un determinado día y hora
        media = round(np.nanmean(subvector),2) #Se calcula la media
        lista.append(media) #Se añade la media a la lista
    df_provincias[i] = lista #Una vez que la lista tiene los 54024 registros para una variable y provincia, se añade al dataframe

df_provincias

<timed exec>:11: RuntimeWarning: Mean of empty slice

Wall time: 25min 37s

,value,date,time,weekday,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,...,TERUEL-velmedia,TERUEL-sol,CANTABRIA-tmed,CANTABRIA-prec,CANTABRIA-velmedia,CANTABRIA-sol,GIPUZKOA-tmed,GIPUZKOA-prec,GIPUZKOA-velmedia,GIPUZKOA-sol
0,65.41,2015-01-01,00,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
1,64.92,2015-01-01,01,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
2,64.48,2015-01-01,02,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
3,59.32,2015-01-01,03,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
4,56.04,2015-01-01,04,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54019,42.19,2021-02-28,19,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54020,47.78,2021-02-28,20,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54021,46.27,2021-02-28,21,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54022,37.03,2021-02-28,22,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54023,31.46,2021-02-28,23,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77

### Se imputan los NaN

In [27]:
#Se comprueba cuantos NaN hay

valores_nulos = {}
for i in df_provincias.columns[4:]:
    if len(df_provincias[i].isnull().value_counts().values) == 2:  #Se comprueba si hay algún valor nulo
        valores_nulos[i] = df_provincias[i].isnull().value_counts().values[1]
        
valores_nulos

{'LLEIDA-prec': 24,
 'MELILLA-tmed': 120,
 'MELILLA-prec': 2232,
 'MELILLA-velmedia': 24,
 'MELILLA-sol': 96,
 'ARABA/ALAVA-prec': 1584,
 'ARABA/ALAVA-velmedia': 24,
 'HUELVA-sol': 216,
 'TOLEDO-sol': 216,
 'SEGOVIA-prec': 1224,
 'LUGO-prec': 6362,
 'LUGO-velmedia': 168,
 'LUGO-sol': 144,
 'GUADALAJARA-prec': 72,
 'GIRONA-prec': 72,
 'GIRONA-sol': 24,
 'AVILA-prec': 480,
 'AVILA-sol': 48,
 'CEUTA-tmed': 24,
 'CEUTA-velmedia': 144,
 'CEUTA-sol': 48,
 'HUESCA-sol': 840,
 'NAVARRA-sol': 3863,
 'PONTEVEDRA-prec': 504,
 'PONTEVEDRA-velmedia': 24,
 'ZAMORA-prec': 24,
 'JAEN-sol': 120,
 'VALLADOLID-prec': 503,
 'ALMERIA-sol': 24,
 'CASTELLON-prec': 24,
 'LA RIOJA-tmed': 48,
 'LA RIOJA-prec': 3096,
 'LA RIOJA-velmedia': 576,
 'LA RIOJA-sol': 96,
 'SORIA-prec': 5590,
 'SORIA-velmedia': 72,
 'PALENCIA-prec': 552,
 'PALENCIA-sol': 24,
 'CADIZ-sol': 24,
 'TARRAGONA-prec': 24,
 'LEON-prec': 24}

In [28]:
%%time

#Se sustituyen los NaN por el valor medio de la variable meteorológica en la misma estación en las 48 y 24 horas previas y posteriores

for i in range(df_provincias.shape[0]):
    for j in range(4, df_provincias.shape[1]):
        if np.isnan(df_provincias.iloc[i,j]):
            if i<24:
                valores = np.array([df_provincias.iloc[i+24,j], df_provincias.iloc[i+48,j]])
            elif 24<=i<48:
                valores = np.array([df_provincias.iloc[i-24,j], df_provincias.iloc[i+24,j], df_provincias.iloc[i+48,j]])
            elif 53976<=i<54000:
                valores = np.array([df_provincias.iloc[i-48,j], df_provincias.iloc[i-24,j], df_provincias.iloc[i+24,j]])
            elif i>=54000:
                valores = np.array([df_provincias.iloc[i-48,j], df_provincias.iloc[i-24,j]])
            else:
                valores = np.array([df_provincias.iloc[i-48,j], df_provincias.iloc[i-24,j], df_provincias.iloc[i+24,j], df_provincias.iloc[i+48,j]])
            media = round(np.nanmean(valores),2)
            df_provincias.iloc[i,j] = media
            
df_provincias

<timed exec>:16: RuntimeWarning: Mean of empty slice

Wall time: 7min 10s

,value,date,time,weekday,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,...,TERUEL-velmedia,TERUEL-sol,CANTABRIA-tmed,CANTABRIA-prec,CANTABRIA-velmedia,CANTABRIA-sol,GIPUZKOA-tmed,GIPUZKOA-prec,GIPUZKOA-velmedia,GIPUZKOA-sol
0,65.41,2015-01-01,00,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
1,64.92,2015-01-01,01,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
2,64.48,2015-01-01,02,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
3,59.32,2015-01-01,03,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
4,56.04,2015-01-01,04,4,9.21,0.0,1.52,7.56,8.75,0.00,...,1.67,8.10,7.36,0.00,1.87,7.93,4.82,0.00,1.25,8.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54019,42.19,2021-02-28,19,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54020,47.78,2021-02-28,20,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54021,46.27,2021-02-28,21,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54022,37.03,2021-02-28,22,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77
54023,31.46,2021-02-28,23,7,10.96,0.0,4.24,8.90,12.59,0.16,...,2.90,4.07,7.07,1.57,3.33,7.23,8.68,1.27,2.05,2.77

In [26]:
#Se comprueba nuevamente cuantos NaN quedan

valores_nulos = {}
for i in df_provincias.columns[4:]:
    if len(df_provincias[i].isnull().value_counts().values) == 2:  #Se comprueba si hay algún valor nulo
        valores_nulos[i] = df_provincias[i].isnull().value_counts().values[1]
        
valores_nulos

{'HUELVA-sol': 168}

In [16]:
#Para los valores que aún quedan nulos, se hace imputación a partir del KNN
#No hay que incluir la variable "date", ya que al ser una cadena de texto daría error
#La imputación solo sustituye los NaN, por lo que no hay problema de "pisar" los datos ya existentes

imputer = KNNImputer(n_neighbors=250)
imputacion = pd.DataFrame(imputer.fit_transform(df_provincias.drop("date", axis = 1)))
imputacion.columns = df_provincias.drop("date", axis = 1).columns

for i in valores_nulos:
    df_provincias[i] = imputacion[i]

In [18]:
#Se observa que ya no quedan valores nulos en todo el dataframe

valores_nulos = {}
for i in df_provincias.columns[4:]:
    if len(df_provincias[i].isnull().value_counts().values) == 2:  #Se comprueba si hay algún valor nulo
        valores_nulos[i] = df_provincias[i].isnull().value_counts().values[1]
        
valores_nulos

{}

In [20]:
#Se guarda el dataframe df_provincias

# fh = open("df_provincias.pkl", "wb")
# pickle.dump(df_provincias, fh)
# fh.close()

In [13]:
#Se carga el dataframe df_provincias

fh = open("df_provincias.pkl", "rb")
df_provincias = pickle.load(fh)
fh.close()

### Creación dummies día de la semana

In [21]:
dummy_weekday = pd.get_dummies(df_provincias["weekday"])
dummy_weekday.columns = ["lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"]
dummy_weekday

       lunes  martes  miércoles  jueves  viernes  sábado  domingo
0          0       0          0       1        0       0        0
1          0       0          0       1        0       0        0
2          0       0          0       1        0       0        0
3          0       0          0       1        0       0        0
4          0       0          0       1        0       0        0
...      ...     ...        ...     ...      ...     ...      ...
54019      0       0          0       0        0       0        1
54020      0       0          0       0        0       0        1
54021      0       0          0       0        0       0        1
54022      0       0          0       0        0       0        1
54023      0       0          0       0        0       0        1

[54024 rows x 7 columns]

### Obtención datos de consumo

In [22]:
df_consumo = pd.read_csv("DemandaReal_2015-2021.csv", delimiter = ";")
df_consumo.drop(["id", "name", "geoid", "geoname", "datetime"], axis = 1, inplace = True)
df_consumo.columns = ["consumo"]
df_consumo = df_consumo.apply(lambda x : round(x, 2))
df_consumo

        consumo
0      25435.00
1      24511.50
2      22866.17
3      21392.83
4      20319.67
...         ...
54019  27516.33
54020  29434.83
54021  29709.17
54022  28416.50
54023  26147.83

[54024 rows x 1 columns]

### Se añaden los dummies del día de la semana y los datos de consumo al dataframe de provincias

In [23]:
df_provincias = pd.concat([df_provincias, dummy_weekday, df_consumo], axis = 1)
df_provincias["time"] = df_provincias["time"].astype("int8")
df_provincias.drop("weekday", axis = 1, inplace = True)
df_provincias

,value,date,time,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,MURCIA-velmedia,...,GIPUZKOA-velmedia,GIPUZKOA-sol,lunes,martes,miércoles,jueves,viernes,sábado,domingo,consumo
0,65.41,2015-01-01,0,9.21,0.0,1.52,7.56,8.75,0.00,1.52,...,1.25,8.03,0,0,0,1,0,0,0,25435.00
1,64.92,2015-01-01,1,9.21,0.0,1.52,7.56,8.75,0.00,1.52,...,1.25,8.03,0,0,0,1,0,0,0,24511.50
2,64.48,2015-01-01,2,9.21,0.0,1.52,7.56,8.75,0.00,1.52,...,1.25,8.03,0,0,0,1,0,0,0,22866.17
3,59.32,2015-01-01,3,9.21,0.0,1.52,7.56,8.75,0.00,1.52,...,1.25,8.03,0,0,0,1,0,0,0,21392.83
4,56.04,2015-01-01,4,9.21,0.0,1.52,7.56,8.75,0.00,1.52,...,1.25,8.03,0,0,0,1,0,0,0,20319.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54019,42.19,2021-02-28,19,10.96,0.0,4.24,8.90,12.59,0.16,3.73,...,2.05,2.77,0,0,0,0,0,0,1,27516.33
54020,47.78,2021-02-28,20,10.96,0.0,4.24,8.90,12.59,0.16,3.73,...,2.05,2.77,0,0,0,0,0,0,1,29434.83
54021,46.27,2021-02-28,21,10.96,0.0,4.24,8.90,12.59,0.16,3.73,...,2.05,2.77,0,0,0,0,0,0,1,29709.17
54022,37.03,2021-02-28,22,10.96,0.0,4.24,8.90,12.59,0.16,3.73,...,2.05,2.77,0,0,0,0,0,0,1,28416.50
54023,31.46,2021-02-28,23,10.96,0.0,4.24,8.90,12.59,0.16,3.73,...,2.05,2.77,0,0,0,0,0,0,1,26147.83

# Análisis exploratorio

In [24]:
#Tabla de correlaciones
#Al haber tantas variables no se aprecia a simple vista ninguna conclusión

correlacion = df_provincias.drop("date", axis = 1).corr()
correlacion

,value,time,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,MURCIA-velmedia,MURCIA-sol,...,GIPUZKOA-velmedia,GIPUZKOA-sol,lunes,martes,miércoles,jueves,viernes,sábado,domingo,consumo
value,1.000000,2.517155e-01,0.011518,-0.130192,-0.219215,0.020674,-0.032855,0.003908,-0.230602,-0.043690,...,-0.245939,0.033339,3.617771e-02,5.933809e-02,5.463600e-02,6.034571e-02,4.143776e-02,-8.191384e-02,-1.698269e-01,0.532123
time,0.251716,1.000000e+00,-0.000130,0.000024,0.000112,0.000069,-0.000052,0.000050,0.000132,0.000062,...,0.000099,0.000100,-7.233760e-19,-7.233760e-19,-7.233760e-19,-9.908947e-18,-1.023455e-17,-9.908947e-18,2.713386e-20,0.534860
A CORUÑA-tmed,0.011518,-1.295227e-04,1.000000,-0.230138,-0.173693,0.439008,0.864920,-0.050115,0.000920,0.499551,...,-0.236174,0.446675,3.007831e-03,2.213829e-03,-3.123458e-03,9.028369e-04,-7.412669e-03,-5.489938e-03,9.904286e-03,-0.072156
A CORUÑA-prec,-0.130192,2.359211e-05,-0.230138,1.000000,0.467658,-0.482281,-0.188264,-0.053446,-0.011733,-0.151708,...,0.302297,-0.166846,-4.997584e-02,-1.084813e-02,2.018131e-02,4.090693e-02,-1.572260e-02,1.474840e-02,6.572942e-04,0.014971
A CORUÑA-velmedia,-0.219215,1.123338e-04,-0.173693,0.467658,1.000000,-0.267162,-0.133516,0.006328,0.131775,-0.100723,...,0.410669,-0.162546,-1.275752e-02,6.504373e-03,6.838189e-03,6.232476e-03,-1.868618e-02,1.118230e-03,1.075118e-02,0.018629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
jueves,0.060346,-9.908947e-18,0.000903,0.040907,0.006232,-0.022882,0.001611,0.014090,-0.007280,-0.007047,...,-0.004758,0.006213,-1.666233e-01,-1.666233e-01,-1.666233e-01,1.000000e+00,-1.669259e-01,-1.669259e-01,-1.669259e-01,0.115689
viernes,0.041438,-1.023455e-17,-0.007413,-0.015723,-0.018686,0.000927,0.002592,-0.009300,0.014165,-0.018962,...,-0.012452,-0.031456,-1.666233e-01,-1.666233e-01,-1.666233e-01,-1.669259e-01,1.000000e+00,-1.669259e-01,-1.669259e-01,0.085261
sábado,-0.081914,-9.908947e-18,-0.005490,0.014748,0.001118,0.012829,-0.003583,-0.000064,-0.005076,-0.003825,...,-0.016475,-0.004567,-1.666233e-01,-1.666233e-01,-1.666233e-01,-1.669259e-01,-1.669259e-01,1.000000e+00,-1.669259e-01,-0.161199
domingo,-0.169827,2.713386e-20,0.009904,0.000657,0.010751,0.014858,-0.002553,0.011056,0.017445,0.015723,...,0.028864,0.003017,-1.666233e-01,-1.666233e-01,-1.666233e-01,-1.669259e-01,-1.669259e-01,-1.669259e-01,1.000000e+00,-0.327726
consumo,0.532123,5.348602e-01,-0.072156,0.014971,0.018629,-0.053490,-0.052561,-0.014739,0.034727,-0.032534,...,0.025545,-0.051634,4.826017e-02,1.163044e-01,1.237843e-01,1.156890e-01,8.526059e-02,-1.611993e-01,-3.277256e-01,1.000000

In [26]:
#Análisis del sumatorio, mínimo y máximo de las correllaciones por variable meteorológica
#Se observa que el viento y, en menor medida, las precipitaciones son las variables meteorológicas con mayor correlación

tmed, tmed_min, tmed_max = 0, 1, 0
prec, prec_min, prec_max = 0, 1, 0
velmedia, velmedia_min, velmedia_max = 0, 1, 0
sol, sol_min, sol_max = 0, 1, 0

for i in correlacion.columns[2:-8]: #Se analizan únicamente las columnas que corresponden a variable meteorológicas
    if i.split("-")[1] == "tmed":
        valor = correlacion.loc["value", i]
        tmed = tmed + math.fabs(valor)
        if math.fabs(valor) < tmed_min:
            tmed_min = math.fabs(valor)
        if math.fabs(valor) > tmed_max:
            tmed_max = math.fabs(valor)
    if i.split("-")[1] == "prec":
        valor = correlacion.loc["value", i]
        prec = prec + math.fabs(valor)
        if math.fabs(valor) < prec_min:
            prec_min = math.fabs(valor)
        if math.fabs(valor) > prec_max:
            prec_max = math.fabs(valor)
    if i.split("-")[1] == "velmedia":
        valor = correlacion.loc["value", i]
        velmedia = velmedia + math.fabs(valor)
        if math.fabs(valor) < velmedia_min:
            velmedia_min = math.fabs(valor)
        if math.fabs(valor) > velmedia_max:
            velmedia_max = math.fabs(valor)
    if i.split("-")[1] == "sol":
        valor = correlacion.loc["value", i]
        sol = sol + math.fabs(valor)
        if math.fabs(valor) < sol_min:
            sol_min = math.fabs(valor)
        if math.fabs(valor) > sol_max:
            sol_max = math.fabs(valor)
        
print("Sumatorio correlación tmed (en valor absoluto):", tmed)
print("Correlación máxima tmed (en valor absoluto):", tmed_max)
print("Correlación mínima tmed (en valor absoluto):", tmed_min)
print("*******")
print("Sumatorio correlación prec (en valor absoluto):", prec)
print("Correlación máxima prec (en valor absoluto):", prec_max)
print("Correlación mínima prec (en valor absoluto):", prec_min)
print("*******")
print("Sumatorio correlación velmedia (en valor absoluto):", velmedia)
print("Correlación máxima velmedia (en valor absoluto):", velmedia_max)
print("Correlación mínima velmedia (en valor absoluto):", velmedia_min)
print("*******")
print("Sumatorio correlación sol (en valor absoluto):", sol)
print("Correlación máxima sol (en valor absoluto):", sol_max)
print("Correlación mínima sol (en valor absoluto):", sol_min)

Sumatorio correlación tmed (en valor absoluto): 1.0315711721854934
Correlación máxima tmed (en valor absoluto): 0.05168933159667274
Correlación mínima tmed (en valor absoluto): 0.0013622334999900795
*******
Sumatorio correlación prec (en valor absoluto): 3.7504690083261187
Correlación máxima prec (en valor absoluto): 0.16411592927340443
Correlación mínima prec (en valor absoluto): 0.002400308341555227
*******
Sumatorio correlación velmedia (en valor absoluto): 12.765936300324093
Correlación máxima velmedia (en valor absoluto): 0.38218409492043476
Correlación mínima velmedia (en valor absoluto): 0.045401643848181156
*******
Sumatorio correlación sol (en valor absoluto): 1.792642067792179
Correlación máxima sol (en valor absoluto): 0.12412981375453319
Correlación mínima sol (en valor absoluto): 0.0008739517708392682

In [27]:
#Se observan aquellas variables cuya correlación es mayor con la variable objetivo "value"
#Nuevamente se comprueba que el viento es la variable que más correlación

correlacion[(correlacion["value"] >=0.3) | (correlacion["value"] <= -0.3)][["value"]]

                        value
value                1.000000
TOLEDO-velmedia     -0.311705
GRANADA-velmedia    -0.323919
ALBACETE-velmedia   -0.314047
MADRID-velmedia     -0.324654
VALENCIA-velmedia   -0.303086
AVILA-velmedia      -0.382184
ZAMORA-velmedia     -0.334181
VALLADOLID-velmedia -0.319902
SALAMANCA-velmedia  -0.300222
SORIA-velmedia      -0.301577
PALENCIA-velmedia   -0.308609
BURGOS-velmedia     -0.341177
LEON-velmedia       -0.336982
consumo              0.532123

In [28]:
#Dataframe con los datos más relevantes de las horas en las que se ha alcanzado valores máximos en el precio de la electricidad
#Se ve que estos precios suelen tener lugar por la tarde-noche (de 17 a 22) y en días muy fríos (la temperatura media del país raramente supera los 5ºC)
#También se observa que en estos momentos la velocidad del viento es relativamente baja (sobre 3 m/s) y que el consumo es alto

maximos = df_provincias.sort_values("value", ascending = False).head(50).index
df_maximos = pd.DataFrame(columns = ["Precio", "Día", "Hora", "Temperatura", "Precipitaciones", "Velocidad viento", "Horas sol", "Consumo"])
contador = 0

for i in maximos:
    precio = df_provincias.loc[i, "value"]
    dia = df_provincias.loc[i, "date"]
    hora = df_provincias.loc[i, "time"]
    tmed = np.array([])
    prec = np.array([])
    velmedia = np.array([])
    sol = np.array([])
    consumo = df_provincias.loc[i, "consumo"]
    for j in df_provincias.columns[3:-8]: #Se analizan únicamente las columnas que corresponden a variable meteorológicas
        if j.split("-")[1] == "tmed":
            tmed = np.append(tmed, df_provincias.loc[i,j])
        if j.split("-")[1] == "prec":
            prec = np.append(prec, df_provincias.loc[i,j])
        if j.split("-")[1] == "velmedia":
            velmedia = np.append(velmedia, df_provincias.loc[i,j])
        if j.split("-")[1] == "sol":
            sol = np.append(sol, df_provincias.loc[i,j])
    tmed = round(tmed.mean(),2)
    prec = round(prec.mean(),2)
    velmedia = round(velmedia.mean(),2)
    sol = round(sol.mean(),2)
    df_maximos.loc[contador] = [precio, dia, hora, tmed, prec, velmedia, sol, consumo]
    contador+=1
    
df_maximos

,Precio,Día,Hora,Temperatura,Precipitaciones,Velocidad viento,Horas sol,Consumo
0,133.28,2021-01-07,18,2.70,7.27,2.29,2.11,39546.67
1,130.11,2021-01-11,20,2.84,0.18,2.42,6.13,40883.33
2,129.58,2021-01-11,19,2.84,0.18,2.42,6.13,40468.83
3,128.90,2021-01-09,20,2.76,5.95,3.34,1.55,35874.17
4,128.87,2021-01-18,20,7.11,0.03,1.54,6.98,39302.83
5,127.91,2021-01-09,19,2.76,5.95,3.34,1.55,35121.17
6,127.86,2021-01-09,21,2.76,5.95,3.34,1.55,35718.67
7,127.83,2021-01-11,21,2.84,0.18,2.42,6.13,40236.83
8,126.53,2021-01-07,19,2.70,7.27,2.29,2.11,40009.00
9,125.57,2021-01-12,20,3.00,0.05,1.90,6.87,41564.17
10,123.65,2021-01-09,18,2.76,5.95,3.34,1.55,33993.50
11,123.51,2021-01-08,19,2.67,10.32,3.13,2.11,39428.67
12,123.16,2021-01-08,18,2.67,10.32,3.13,2.11,39084.33
13,123.10,2021-01-13,20,4.45,0.04,1.92,6.82,41042.00
14,122.88,2021-01-12,19,3.00,0.05,1.90,6.87,41002.33
15,122.22,2021-01-18,19,7.11,0.03,1.54,6.98,38686.83
16,119.99,2021-01-09,22,2.76,5.95,3.34,1.55,34023.00
17,119.92,2019-05-07,20,15.98,1.08,3.11,7.68,30629.83
18,119.73,2021-01-13,19,4.45,0.04,1.92,6.82,40539.00
19,119.45,2021-01-08,12,2.67,10.32,3.13,2.11,41465.67
20,119.33,2021-01-07,21,2.70,7.27,2.29,2.11,39374.67
21,119.31,2021-01-08,17,2.67,10.32,3.13,2.11,38089.50
22,119.31,2021-01-08,9,2.67,10.32,3.13,2.11,38131.00
23,119.17,2021-01-07,15,2.70,7.27,2.29,2.11,39432.33
24,118.76,2021-01-08,20,2.67,10.32,3.13,2.11,39258.00
25,118.74,2021-01-08,11,2.67,10.32,3.13,2.11,41324.33
26,118.70,2021-01-07,20,2.70,7.27,2.29,2.11,40246.33
27,118.68,2021-01-11,18,2.84,0.18,2.42,6.13,38766.17
28,118.21,2021-01-08,13,2.67,10.32,3.13,2.11,41828.83
29,118.14,2021-01-07,9,2.70,7.27,2.29,2.11,36948.50
30,118.05,2021-01-14,20,4.75,0.26,2.14,5.94,41025.33
31,118.01,2021-01-08,21,2.67,10.32,3.13,2.11,38535.83
32,117.56,2021-01-07,17,2.70,7.27,2.29,2.11,38685.33
33,117.55,2021-01-08,14,2.67,10.32,3.13,2.11,40911.33
34,117.33,2021-01-07,16,2.70,7.27,2.29,2.11,38696.00
35,117.24,2021-01-08,10,2.67,10.32,3.13,2.11,40220.33
36,117.19,2021-01-10,20,3.37,1.75,2.85,2.68,35726.67
37,116.99,2021-01-10,21,3.37,1.75,2.85,2.68,35839.33
38,116.80,2017-10-23,19,15.08,0.01,1.76,8.68,30850.67
39,116.65,2021-01-12,21,3.00,0.05,1.90,6.87,40700.67
40,116.38,2021-01-07,14,2.70,7.27,2.29,2.11,40711.17
41,114.89,2021-01-10,19,3.37,1.75,2.85,2.68,34619.50
42,113.93,2021-01-07,13,2.70,7.27,2.29,2.11,41206.50
43,113.80,2021-01-07,22,2.70,7.27,2.29,2.11,36354.17
44,113.41,2021-01-07,12,2.70,7.27,2.29,2.11,40656.17
45,113.26,2021-01-14,19,4.75,0.26,2.14,5.94,40655.33
46,112.89,2021-01-08,15,2.67,10.32,3.13,2.11,39257.33
47,112.81,2017-01-25,20,5.49,0.42,2.11,7.80,39247.83
48,112.76,2021-01-14,21,4.75,0.26,2.14,5.94,40046.00
49,112.71,2017-01-25,19,5.49,0.42,2.11,7.80,38980.67

In [29]:
df_maximos.mean()

Precio                120.0522
Hora                   17.7800
Temperatura             3.7624
Precipitaciones         4.9960
Velocidad viento        2.5620
Horas sol               3.7788
Consumo             38698.9330
dtype: float64

In [30]:
#Dataframe con los datos más relevantes de las horas en las que se ha alcanzado valores mínimos en el precio de la electricidad
#Los precios más bajos tienen lugar de madrugada, cuando el consumo es mínimo
#También se observa influencia de las temperaturas (suelen ser días moderadamente cálidos) y del viento (la velocidad suele situarse en torno a 5 m/s)

minimos = df_provincias.sort_values("value").head(50).index
df_minimos = pd.DataFrame(columns = ["Precio", "Día", "Hora", "Temperatura", "Precipitaciones", "Velocidad viento", "Horas sol", "Consumo"])
contador = 0

for i in minimos:
    precio = df_provincias.loc[i, "value"]
    dia = df_provincias.loc[i, "date"]
    hora = df_provincias.loc[i, "time"]
    tmed = np.array([])
    prec = np.array([])
    velmedia = np.array([])
    sol = np.array([])
    consumo = df_provincias.loc[i, "consumo"]
    for j in df_provincias.columns[3:-8]: #Se analizan únicamente las columnas que corresponden a variable meteorológicas
        if j.split("-")[1] == "tmed":
            tmed = np.append(tmed, df_provincias.loc[i,j])
        if j.split("-")[1] == "prec":
            prec = np.append(prec, df_provincias.loc[i,j])
        if j.split("-")[1] == "velmedia":
            velmedia = np.append(velmedia, df_provincias.loc[i,j])
        if j.split("-")[1] == "sol":
            sol = np.append(sol, df_provincias.loc[i,j])
    tmed = round(tmed.mean(),2)
    prec = round(prec.mean(),2)
    velmedia = round(velmedia.mean(),2)
    sol = round(sol.mean(),2)
    df_minimos.loc[contador] = [precio, dia, hora, tmed, prec, velmedia, sol, consumo]
    contador+=1
    
df_minimos

,Precio,Día,Hora,Temperatura,Precipitaciones,Velocidad viento,Horas sol,Consumo
0,4.51,2019-12-22,3,12.09,1.57,5.27,3.76,19814.50
1,4.61,2019-12-22,5,12.09,1.57,5.27,3.76,19353.00
2,4.77,2019-12-22,4,12.09,1.57,5.27,3.76,19402.17
3,4.81,2019-12-22,6,12.09,1.57,5.27,3.76,19739.67
4,5.01,2019-12-20,4,12.56,13.54,5.00,0.84,22637.83
5,5.18,2021-02-09,3,9.33,8.76,4.50,1.44,24049.00
6,5.26,2021-02-20,2,12.40,3.56,4.26,4.66,23492.33
7,5.31,2019-12-22,1,12.09,1.57,5.27,3.76,21762.33
8,5.33,2021-02-20,4,12.40,3.56,4.26,4.66,22579.33
9,5.36,2019-12-22,7,12.09,1.57,5.27,3.76,20630.83
10,5.38,2021-02-20,3,12.40,3.56,4.26,4.66,22844.00
11,5.48,2019-12-22,2,12.09,1.57,5.27,3.76,20474.33
12,5.50,2019-12-20,2,12.56,13.54,5.00,0.84,23322.50
13,5.51,2021-02-20,5,12.40,3.56,4.26,4.66,22539.00
14,5.59,2021-02-09,4,9.33,8.76,4.50,1.44,24094.83
15,5.67,2021-02-09,2,9.33,8.76,4.50,1.44,24514.17
16,5.68,2019-12-20,3,12.56,13.54,5.00,0.84,22738.33
17,5.75,2021-01-31,7,11.60,1.78,4.99,3.35,21386.83
18,6.02,2019-12-22,8,12.09,1.57,5.27,3.76,21811.17
19,6.03,2021-02-01,2,12.79,0.85,4.82,5.36,21697.50
20,6.10,2021-01-31,11,11.60,1.78,4.99,3.35,27433.17
21,6.14,2021-02-08,3,9.50,4.75,4.25,3.37,21613.83
22,6.16,2021-02-01,3,12.79,0.85,4.82,5.36,21177.83
23,6.21,2021-01-30,11,11.35,3.14,5.44,4.36,29930.67
24,6.21,2021-01-31,6,11.60,1.78,4.99,3.35,20704.50
25,6.22,2021-02-01,4,12.79,0.85,4.82,5.36,21266.00
26,6.23,2021-02-09,1,9.33,8.76,4.50,1.44,25630.50
27,6.32,2021-02-10,4,10.26,2.23,3.97,5.14,23959.50
28,6.36,2020-12-28,3,7.33,4.02,5.11,4.09,20346.67
29,6.37,2021-02-08,4,9.50,4.75,4.25,3.37,21661.83
30,6.42,2021-01-31,22,11.60,1.78,4.99,3.35,28179.00
31,6.42,2019-12-24,4,12.12,0.04,1.97,6.52,18847.17
32,6.42,2021-02-10,3,10.26,2.23,3.97,5.14,24018.00
33,6.49,2021-01-31,8,11.60,1.78,4.99,3.35,21905.00
34,6.50,2020-12-28,2,7.33,4.02,5.11,4.09,20887.33
35,6.57,2021-02-10,2,10.26,2.23,3.97,5.14,24427.67
36,6.59,2021-01-31,5,11.60,1.78,4.99,3.35,20275.50
37,6.59,2019-12-22,16,12.09,1.57,5.27,3.76,24180.17
38,6.62,2021-01-31,12,11.60,1.78,4.99,3.35,27890.33
39,6.64,2019-12-22,15,12.09,1.57,5.27,3.76,25128.83
40,6.65,2021-01-31,3,11.60,1.78,4.99,3.35,20510.33
41,6.65,2021-01-30,13,11.35,3.14,5.44,4.36,30146.67
42,6.66,2020-12-28,4,7.33,4.02,5.11,4.09,20171.00
43,6.68,2021-02-10,5,10.26,2.23,3.97,5.14,24475.33
44,6.69,2021-01-31,13,11.60,1.78,4.99,3.35,28483.83
45,6.71,2021-02-09,0,9.33,8.76,4.50,1.44,27089.83
46,6.71,2021-02-20,0,12.40,3.56,4.26,4.66,26395.50
47,6.75,2019-12-22,11,12.09,1.57,5.27,3.76,26637.67
48,6.75,2021-01-31,16,11.60,1.78,4.99,3.35,25388.33
49,6.76,2021-01-31,14,11.60,1.78,4.99,3.35,28646.17

In [31]:
df_minimos.mean()

Precio                  6.0270
Hora                    5.9000
Temperatura            11.2428
Precipitaciones         3.5684
Velocidad viento        4.7736
Horas sol               3.6424
Consumo             23325.8362
dtype: float64

In [32]:
#Dataframe con los datos más relevantes de los días en los que se ha alcanzado valores máximos en el precio de la electricidad
#Se observan conclusiones similares al análisis horario de los precios máximos

maximos = df_provincias.groupby("date").mean().reset_index().drop("time", axis = 1).sort_values("value", ascending = False).reset_index(drop = True)
df_maximos = pd.DataFrame(columns = ["Precio", "Día", "Temperatura", "Precipitaciones", "Velocidad viento", "Horas sol", "Consumo en el día"])

for i in range(25):
    precio = round(maximos.loc[i, "value"], 2)
    dia = maximos.loc[i, "date"]
    tmed = np.array([])
    prec = np.array([])
    velmedia = np.array([])
    sol = np.array([])
    consumo = round(maximos.loc[i, "consumo"]*24, 2) #Consumo durante todo el día
    for j in maximos.columns[2:-8]: #Se analizan únicamente las columnas que corresponden a variable meteorológicas
        if j.split("-")[1] == "tmed":
            tmed = np.append(tmed, maximos.loc[i,j])
        if j.split("-")[1] == "prec":
            prec = np.append(prec, maximos.loc[i,j])
        if j.split("-")[1] == "velmedia":
            velmedia = np.append(velmedia, maximos.loc[i,j])
        if j.split("-")[1] == "sol":
            sol = np.append(sol, maximos.loc[i,j])
    tmed = round(tmed.mean(),2)
    prec = round(prec.mean(),2)
    velmedia = round(velmedia.mean(),2)
    sol = round(sol.mean(),2)
    df_maximos.loc[i] = [precio, dia, tmed, prec, velmedia, sol, consumo]
    
df_maximos

,Precio,Día,Temperatura,Precipitaciones,Velocidad viento,Horas sol,Consumo en el día
0,103.35,2021-01-08,2.67,10.32,3.13,2.11,837438.82
1,102.93,2021-01-07,2.70,7.27,2.29,2.11,820038.17
2,99.20,2017-01-25,5.49,0.42,2.11,7.80,809042.16
3,97.02,2017-01-20,4.64,4.71,2.69,3.10,834010.17
4,95.90,2021-01-13,4.45,0.04,1.92,6.82,843962.00
5,95.41,2017-01-26,5.44,4.91,2.63,3.36,817144.34
6,95.32,2017-01-24,6.34,0.01,2.40,7.64,802147.52
7,93.77,2017-01-19,2.45,6.15,3.08,3.79,847353.82
8,93.12,2021-01-14,4.75,0.26,2.14,5.94,839743.83
9,91.51,2017-01-23,6.32,0.47,2.47,6.04,795999.17
10,90.43,2021-01-12,3.00,0.05,1.90,6.87,845701.18
11,89.16,2021-01-11,2.84,0.18,2.42,6.13,815770.31
12,87.71,2021-01-09,2.76,5.95,3.34,1.55,742173.33
13,87.66,2021-01-18,7.11,0.03,1.54,6.98,800945.32
14,86.56,2017-01-18,1.54,1.54,3.06,5.57,840727.68
15,86.33,2017-01-21,5.81,1.85,2.63,5.45,733067.99
16,84.91,2021-01-15,5.86,0.10,2.52,6.04,829192.85
17,83.70,2017-01-27,7.66,6.15,3.39,1.83,800020.66
18,83.28,2017-01-12,9.72,1.16,2.41,5.43,770574.99
19,82.78,2017-12-05,6.07,0.05,1.70,7.34,811971.67
20,81.98,2017-01-31,10.46,1.27,2.25,5.89,761214.99
21,81.95,2021-01-19,6.44,1.58,2.26,6.02,817290.51
22,81.41,2017-12-06,5.75,0.02,1.62,6.92,723516.65
23,81.10,2018-09-28,20.81,0.00,2.08,9.36,713740.34
24,80.99,2017-01-17,5.49,0.32,4.13,7.05,805609.68

In [33]:
df_maximos.mean()

Precio                   89.4992
Temperatura               5.8628
Precipitaciones           2.1924
Velocidad viento          2.4844
Horas sol                 5.4856
Consumo en el día    802335.9260
dtype: float64

In [34]:
#Dataframe con los datos más relevantes de los días en los que se ha alcanzado valores mínimos en el precio de la electricidad
#Se observan conclusiones similares al análisis horario de los precios mínimos

minimos = df_provincias.groupby("date").mean().reset_index().drop("time", axis = 1).sort_values("value").reset_index(drop = True)
df_minimos = pd.DataFrame(columns = ["Precio", "Día", "Temperatura", "Precipitaciones", "Velocidad viento", "Horas sol", "Consumo en el día"])

for i in range(25):
    precio = round(minimos.loc[i, "value"], 2)
    dia = minimos.loc[i, "date"]
    tmed = np.array([])
    prec = np.array([])
    velmedia = np.array([])
    sol = np.array([])
    consumo = round(minimos.loc[i, "consumo"]*24, 2) #Consumo durante todo el día
    for j in minimos.columns[2:-8]: #Se analizan únicamente las columnas que corresponden a variable meteorológicas
        if j.split("-")[1] == "tmed":
            tmed = np.append(tmed, minimos.loc[i,j])
        if j.split("-")[1] == "prec":
            prec = np.append(prec, minimos.loc[i,j])
        if j.split("-")[1] == "velmedia":
            velmedia = np.append(velmedia, minimos.loc[i,j])
        if j.split("-")[1] == "sol":
            sol = np.append(sol, minimos.loc[i,j])
    tmed = round(tmed.mean(),2)
    prec = round(prec.mean(),2)
    velmedia = round(velmedia.mean(),2)
    sol = round(sol.mean(),2)
    df_minimos.loc[i] = [precio, dia, tmed, prec, velmedia, sol, consumo]
    
df_minimos

,Precio,Día,Temperatura,Precipitaciones,Velocidad viento,Horas sol,Consumo en el día
0,6.97,2021-01-31,11.60,1.78,4.99,3.35,601236.64
1,7.27,2019-12-22,12.09,1.57,5.27,3.76,577408.33
2,8.90,2019-12-21,13.63,6.18,6.21,2.73,621883.32
3,8.95,2021-02-20,12.40,3.56,4.26,4.66,641205.66
4,9.50,2021-01-30,11.35,3.14,5.44,4.36,641001.32
5,11.47,2020-05-01,17.52,1.07,3.90,7.52,496358.16
6,12.72,2020-04-30,15.33,1.32,4.21,6.18,564335.49
7,13.51,2021-02-09,9.33,8.76,4.50,1.44,759459.17
8,14.48,2016-02-27,5.55,8.84,5.54,3.20,695601.32
9,14.51,2016-02-28,7.08,1.85,4.29,3.62,638542.83
10,15.07,2021-02-08,9.50,4.75,4.25,3.37,723355.66
11,15.30,2021-02-21,10.20,9.13,3.83,1.40,611213.51
12,15.31,2018-03-30,9.26,4.38,4.82,6.38,583333.31
13,15.94,2016-05-08,13.88,8.75,4.25,2.14,556735.99
14,16.15,2020-04-21,12.37,6.71,3.10,2.82,576654.00
15,16.28,2018-03-11,10.55,4.04,5.85,4.88,620534.00
16,16.51,2020-04-29,13.96,0.79,3.69,7.96,577238.83
17,17.46,2020-04-22,13.83,0.35,2.62,5.17,578735.51
18,17.48,2020-05-24,20.08,0.22,3.06,10.53,519771.68
19,18.26,2016-02-14,8.50,7.52,5.56,3.58,625641.66
20,18.51,2020-04-20,13.63,4.96,2.92,5.16,555157.68
21,18.52,2020-05-02,18.90,0.07,2.61,10.32,504984.65
22,18.62,2016-04-10,10.91,4.19,4.48,5.81,583771.82
23,18.66,2021-02-01,12.79,0.85,4.82,5.36,697424.33
24,18.85,2021-02-07,7.84,5.91,3.32,3.55,604880.84

In [35]:
df_minimos.mean()

Precio                   14.6080
Temperatura              12.0832
Precipitaciones           4.0276
Velocidad viento          4.3116
Horas sol                 4.7700
Consumo en el día    606258.6284
dtype: float64

### Análisis exploratorio con variación temporal

In [72]:
#Como el objetivo es predecir el precio del día de hoy no se puede partir de los datos de consumo de hoy, ya que no se tienen
#Tampoco se tienen los valores de las variables meteorológias para hoy
#Por ello se decide retrasar la varialbe "consumo" una semana, mientras que las variables meteorológicas se retrasan un día

df_temporal = df_provincias.iloc[168:,:3] #Los primeros 168 registros (correspondientes a los primeros 7 días) no se analizan

for i in df_provincias.columns[3:-8]:
    df_temporal[i] = list(df_provincias.loc[144:53999,i]) #Se obtienen las variable meteorológicas que van desde el día anterior al comienzo de la serie hasta el día anterior a la finalización de la serie

for i in df_provincias.columns[-8:-1]:
    df_temporal[i] = list(df_provincias.loc[168:,i]) #Se obtienen los dummies de los días de la semana

df_temporal["consumo"] = list(df_provincias.loc[:53855, "consumo"]) #Se obtienen los datos de consumo que, como se ha dicho anteriormente, van con una semana de retraso 
df_temporal.reset_index(drop = True, inplace = True)
df_temporal

,value,date,time,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,MURCIA-velmedia,...,GIPUZKOA-velmedia,GIPUZKOA-sol,lunes,martes,miércoles,jueves,viernes,sábado,domingo,consumo
0,73.73,2015-01-08,0,10.24,0.01,2.42,5.74,8.76,0.0,1.38,...,1.17,7.43,0,0,0,1,0,0,0,25435.00
1,70.99,2015-01-08,1,10.24,0.01,2.42,5.74,8.76,0.0,1.38,...,1.17,7.43,0,0,0,1,0,0,0,24511.50
2,68.30,2015-01-08,2,10.24,0.01,2.42,5.74,8.76,0.0,1.38,...,1.17,7.43,0,0,0,1,0,0,0,22866.17
3,64.22,2015-01-08,3,10.24,0.01,2.42,5.74,8.76,0.0,1.38,...,1.17,7.43,0,0,0,1,0,0,0,21392.83
4,63.53,2015-01-08,4,10.24,0.01,2.42,5.74,8.76,0.0,1.38,...,1.17,7.43,0,0,0,1,0,0,0,20319.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53851,42.19,2021-02-28,19,12.38,0.00,5.16,7.65,12.36,0.0,2.43,...,2.38,4.87,0,0,0,0,0,0,1,28735.50
53852,47.78,2021-02-28,20,12.38,0.00,5.16,7.65,12.36,0.0,2.43,...,2.38,4.87,0,0,0,0,0,0,1,30431.50
53853,46.27,2021-02-28,21,12.38,0.00,5.16,7.65,12.36,0.0,2.43,...,2.38,4.87,0,0,0,0,0,0,1,30433.67
53854,37.03,2021-02-28,22,12.38,0.00,5.16,7.65,12.36,0.0,2.43,...,2.38,4.87,0,0,0,0,0,0,1,29010.50
53855,31.46,2021-02-28,23,12.38,0.00,5.16,7.65,12.36,0.0,2.43,...,2.38,4.87,0,0,0,0,0,0,1,26851.67

In [73]:
correlacion_temporal = df_temporal.drop("date", axis = 1).corr()
correlacion_temporal

,value,time,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,MURCIA-velmedia,MURCIA-sol,...,GIPUZKOA-velmedia,GIPUZKOA-sol,lunes,martes,miércoles,jueves,viernes,sábado,domingo,consumo
value,1.000000,2.514266e-01,0.016167,-0.166657,-0.209919,0.060470,-0.032479,0.016000,-0.146419,-0.034422,...,-0.182016,0.034314,3.578803e-02,5.950574e-02,5.396814e-02,6.107294e-02,4.150354e-02,-8.200865e-02,-1.696358e-01,0.482928
time,0.251427,1.000000e+00,-0.000180,-0.000079,0.000025,0.000092,-0.000103,-0.000002,0.000189,0.000052,...,0.000110,-0.000070,3.304531e-19,3.304531e-19,3.304531e-19,1.746745e-17,1.746745e-17,1.746745e-17,7.498685e-18,0.533232
A CORUÑA-tmed,0.016167,-1.796234e-04,1.000000,-0.232096,-0.177024,0.438905,0.864506,-0.050706,-0.001705,0.499763,...,-0.240033,0.447621,1.042159e-02,3.135751e-03,2.176316e-03,-4.372654e-03,1.216776e-03,-7.268716e-03,-5.288615e-03,-0.051027
A CORUÑA-prec,-0.166657,-7.885004e-05,-0.232096,1.000000,0.467252,-0.483648,-0.190729,-0.053728,-0.012959,-0.152481,...,0.301387,-0.167239,1.359113e-03,-5.005584e-02,-1.092019e-02,1.956058e-02,4.100378e-02,-1.577948e-02,1.475458e-02,0.012003
A CORUÑA-velmedia,-0.209919,2.523121e-05,-0.177024,0.467252,1.000000,-0.268884,-0.137667,0.005878,0.129405,-0.101430,...,0.409133,-0.162720,1.125613e-02,-1.350135e-02,6.206313e-03,5.752629e-03,7.254044e-03,-1.789288e-02,9.302527e-04,0.040347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
jueves,0.061073,1.746745e-17,-0.004373,0.019561,0.005753,-0.016184,-0.000350,-0.023977,0.005052,0.014506,...,0.008865,0.034116,-1.666231e-01,-1.666231e-01,-1.666231e-01,1.000000e+00,-1.669267e-01,-1.669267e-01,-1.669267e-01,0.115717
viernes,0.041504,1.746745e-17,0.001217,0.041004,0.007254,-0.024059,0.001982,0.014118,-0.006680,-0.007024,...,-0.004593,0.005110,-1.666231e-01,-1.666231e-01,-1.666231e-01,-1.669267e-01,1.000000e+00,-1.669267e-01,-1.669267e-01,0.085230
sábado,-0.082009,1.746745e-17,-0.007269,-0.015779,-0.017893,0.001035,0.002939,-0.009309,0.014858,-0.019439,...,-0.012184,-0.032143,-1.666231e-01,-1.666231e-01,-1.666231e-01,-1.669267e-01,-1.669267e-01,1.000000e+00,-1.669267e-01,-0.161121
domingo,-0.169636,7.498685e-18,-0.005289,0.014755,0.000930,0.014072,-0.003430,-0.000089,-0.006004,-0.004558,...,-0.017313,-0.005749,-1.666231e-01,-1.666231e-01,-1.666231e-01,-1.669267e-01,-1.669267e-01,-1.669267e-01,1.000000e+00,-0.327582
consumo,0.482928,5.332315e-01,-0.051027,0.012003,0.040347,-0.047426,-0.037646,-0.000153,0.021484,-0.025350,...,0.044639,-0.036433,4.813473e-02,1.162284e-01,1.237674e-01,1.157173e-01,8.522953e-02,-1.611208e-01,-3.275822e-01,1.000000

In [74]:
correlacion_temporal[(correlacion_temporal["value"] >=0.25) | (correlacion_temporal["value"] <= -0.25)][["value"]]

                        value
value                1.000000
time                 0.251427
TOLEDO-velmedia     -0.252898
GRANADA-velmedia    -0.275132
MADRID-velmedia     -0.255996
LUGO-velmedia       -0.283802
AVILA-velmedia      -0.308810
ZAMORA-velmedia     -0.292446
VALLADOLID-velmedia -0.266204
SALAMANCA-velmedia  -0.252506
PALENCIA-velmedia   -0.257014
BURGOS-velmedia     -0.272438
LEON-velmedia       -0.289606
OURENSE-velmedia    -0.262009
consumo              0.482928

# REGRESIÓN

## MinMaxScaler

In [75]:
#Se normalizan todas las variables entre 0 y 1

scaler = MinMaxScaler()
norm = scaler.fit_transform(df_temporal.drop(["date"], axis = 1)) #Se elimina "date" porque es una cadena de texto
df_escalado = pd.DataFrame(norm, columns = df_temporal.drop(["date"], axis = 1).columns)
df_escalado

,value,time,A CORUÑA-tmed,A CORUÑA-prec,A CORUÑA-velmedia,A CORUÑA-sol,MURCIA-tmed,MURCIA-prec,MURCIA-velmedia,MURCIA-sol,...,GIPUZKOA-velmedia,GIPUZKOA-sol,lunes,martes,miércoles,jueves,viernes,sábado,domingo,consumo
0,0.537548,0.000000,0.285848,0.000143,0.106087,0.399166,0.232100,0.0,0.089812,0.435507,...,0.066310,0.517049,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.351672
1,0.516269,0.043478,0.285848,0.000143,0.106087,0.399166,0.232100,0.0,0.089812,0.435507,...,0.066310,0.517049,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.315151
2,0.495379,0.086957,0.285848,0.000143,0.106087,0.399166,0.232100,0.0,0.089812,0.435507,...,0.066310,0.517049,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.250083
3,0.463695,0.130435,0.285848,0.000143,0.106087,0.399166,0.232100,0.0,0.089812,0.435507,...,0.066310,0.517049,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.191816
4,0.458337,0.173913,0.285848,0.000143,0.106087,0.399166,0.232100,0.0,0.089812,0.435507,...,0.066310,0.517049,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.149376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53851,0.292615,0.826087,0.386129,0.000000,0.344348,0.531989,0.354259,0.0,0.230563,0.198551,...,0.195722,0.338900,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.482197
53852,0.336025,0.869565,0.386129,0.000000,0.344348,0.531989,0.354259,0.0,0.230563,0.198551,...,0.195722,0.338900,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.549269
53853,0.324299,0.913043,0.386129,0.000000,0.344348,0.531989,0.354259,0.0,0.230563,0.198551,...,0.195722,0.338900,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.549355
53854,0.252543,0.956522,0.386129,0.000000,0.344348,0.531989,0.354259,0.0,0.230563,0.198551,...,0.195722,0.338900,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.493073
53855,0.209288,1.000000,0.386129,0.000000,0.344348,0.531989,0.354259,0.0,0.230563,0.198551,...,0.195722,0.338900,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.407697

In [76]:
#Se separa la variable objeto (y) del resto (X)

X = df_escalado.iloc[:,1:]
y = df_escalado.iloc[:,0]

In [77]:
#Se crea un diccionario donde se almacenaran los r2 ajustados obtenidos

resultados_r2 = {}

## Árbol de Decisión

In [93]:
%%time

#Se prueba el regresor del árbol de clasificación (por defecto)
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_arbol_defecto = []
error_arbol_defecto = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)
    
    reg = DecisionTreeRegressor()
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)
    
    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_arbol_defecto.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_arbol_defecto.append(r2)

Wall time: 9min 57s

In [78]:
#Se hace GridSearch al árbol de decisión, para ver qué parámetros pueden hacer que se mejore el resultado anterior

params={'criterion':["mse", "friedman_mse", "mae", "poisson"],
        'max_depth': [20, 50, 100],# Maxima pofundidad del arbol
        'max_leaf_nodes': [50, 100, 200, 500], # maximo de nodos del arbol
        'min_samples_split': [2,5] # The minimum number of samples required to split an internal node
        }

reg = DecisionTreeRegressor()
grid_solver = GridSearchCV(estimator = reg,
                   param_grid = params,
                   #scoring=scorers,
                   cv = 5,
                   #refit="accuracy",
                   n_jobs=-1)

model_result = grid_solver.fit(X_train,y_train)
print(model_result.best_score_)
print(model_result.best_params_)

0.7587925676654613
{'criterion': 'friedman_mse', 'max_depth': 100, 'max_leaf_nodes': 500, 'min_samples_split': 5}

In [95]:
%%time

#Se prueba el regresor del árbol de clasificación con los parámetros obtenidos del GridSearch anterior
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_arbol_ajustado = []
error_arbol_ajustado = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)
    
    reg = DecisionTreeRegressor(criterion = "friedman_mse",
                                max_depth = 100,
                                max_leaf_nodes = 500,
                                min_samples_split = 5)
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)
    
    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_arbol_ajustado.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_arbol_ajustado.append(r2)

## Random Forest

In [96]:
%%time

#Se realiza la regresión con Random Forest por defecto
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_forest_defecto = []
error_forest_defecto = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)

    reg = RandomForestRegressor()
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)

    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_forest_defecto.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_forest_defecto.append(r2)

Wall time: 10h 30min 49s

## AdaBoost

In [97]:
%%time

#Se realiza la regresión con AdaBoost por defecto
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_adaboost_defecto = []
error_adaboost_defecto = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)
    
    reg = AdaBoostRegressor()
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)

    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_adaboost_defecto.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_adaboost_defecto.append(r2)

Wall time: 1h 29min 1s

In [100]:
params={#'base_estimator':[None],
        'n_estimators': [25, 50, 100, 175, 250],
        'learning_rate': [0.2, 0.5, 0.8, 1, 2],
        'loss': ["linear", "square", "exponential"]
        #'random_state' : [None],
        }

reg = AdaBoostRegressor()
grid_solver = GridSearchCV(estimator = reg,
                   param_grid = params,
                   #scoring=scorers,
                   cv = 5,
                   #refit="accuracy",
                   n_jobs=-1)

model_result = grid_solver.fit(X_train,y_train)
print(model_result.best_score_)
print(model_result.best_params_)

0.435196072080472
{'learning_rate': 2, 'loss': 'exponential', 'n_estimators': 100}

In [113]:
%%time

#Se realiza la regresión con AdaBoost con los parámetros del GridSearch anterior
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_adaboost_ajustado = []
error_adaboost_ajustado = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)
    
    reg = AdaBoostRegressor(learning_rate = 2,
                            loss = 'exponential',
                            n_estimators = 100)
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)

    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_adaboost_ajustado.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_adaboost_ajustado.append(r2)

Wall time: 2h 55min 39s

## GradientBoosting

In [100]:
%%time

#Se realiza la regresión con AdaBoost con los parámetros del GridSearch anterior
#Como método de validación se hace Hold-out (100 veces)

r2_ajustada_gradientboosting_defecto = []
error_gradientboosting_defecto = []

for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
    y_test = np.array(y_test)
    
    reg = GradientBoostingRegressor()
    reg = reg.fit(X_train, y_train)
    yhat = reg.predict(X_test)

    suma = 0
    for i in range(len(yhat)):
        suma = suma + math.fabs(yhat[i] - y_test[i])
    error_gradientboosting_defecto.append(suma/len(yhat))
        
    r2 = 1 - (1-r2_score(y_test,yhat))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    r2_ajustada_gradientboosting_defecto.append(r2)

Wall time: 2h 42min 36s

## Resultados

In [106]:
#Árbol de regresión por defecto

print("Media r2 árbol defecto:", np.array(r2_ajustada_arbol_defecto).mean())
print("Desviación típica r2 árbol defecto:", np.array(r2_ajustada_arbol_defecto).std())
print("Media error árbol defecto:", np.array(error_arbol_defecto).mean())
print("Desviación típica error árbol defecto:", np.array(error_arbol_defecto).std())

Media r2 árbol defecto: 0.901066488815569
Desviación típica r2 árbol defecto: 0.004364841486324276
Media error árbol defecto: 0.023573680349402628
Desviación típica error árbol defecto: 0.0003542729957171238

In [108]:
#Árbol de regresión ajustado (Grid Search)

print("Media r2 árbol ajustado:", np.array(r2_ajustada_arbol_ajustado).mean())
print("Desviación típica r2 árbol ajustado:", np.array(r2_ajustada_arbol_ajustado).std())
print("Media error árbol ajustado:", np.array(error_arbol_ajustado).mean())
print("Desviación típica error árbol ajustado:", np.array(error_arbol_ajustado).std())

Media r2 árbol ajustado: 0.7653165212574251
Desviación típica r2 árbol ajustado: 0.008374769604381495
Media error árbol ajustado: 0.04373382314039901
Desviación típica error árbol ajustado: 0.0006969953181149631

In [109]:
#Random Forest por defecto

print("Media r2 random forest defecto:", np.array(r2_ajustada_forest_defecto).mean())
print("Desviación típica r2 random forest defecto:", np.array(r2_ajustada_forest_defecto).std())
print("Media error random forest defecto:", np.array(error_forest_defecto).mean())
print("Desviación típica error random forest defecto:", np.array(error_forest_defecto).std())

Media r2 random forest defecto: 0.9510954262314918
Desviación típica r2 random forest defecto: 0.0013276667560953932
Media error random forest defecto: 0.017726552408787143
Desviación típica error random forest defecto: 0.00018363577256678146

In [110]:
#AdaBoost por defecto

print("Media r2 adaboost defecto:", np.array(r2_ajustada_adaboost_defecto).mean())
print("Desviación típica r2 adaboost defecto:", np.array(r2_ajustada_adaboost_defecto).std())
print("Media error adaboost defecto:", np.array(error_adaboost_defecto).mean())
print("Desviación típica error adaboost defecto:", np.array(error_adaboost_defecto).std())

Media r2 adaboost defecto: 0.4125922199560068
Desviación típica r2 adaboost defecto: 0.009935166466070452
Media error adaboost defecto: 0.07518939555555373
Desviación típica error adaboost defecto: 0.0006450472654686071

In [115]:
#AdaBoost ajustado (Grid Search)

print("Media r2 adaboost ajustado:", np.array(r2_ajustada_adaboost_ajustado).mean())
print("Desviación típica r2 adaboost ajustado:", np.array(r2_ajustada_adaboost_ajustado).std())
print("Media error adaboost ajustado:", np.array(error_adaboost_ajustado).mean())
print("Desviación típica error adaboost ajustado:", np.array(error_adaboost_ajustado).std())

Media r2 adaboost ajustado: 0.43300465258363713
Desviación típica r2 adaboost ajustado: 0.013497720785307624
Media error adaboost ajustado: 0.07449125930736387
Desviación típica error adaboost ajustado: 0.0007794783889869386

In [112]:
#GradientBoosting por defecto

print("Media r2 gradientboosting defecto:", np.array(r2_ajustada_gradientboosting_defecto).mean())
print("Desviación típica r2 gradientboosting defecto:", np.array(r2_ajustada_gradientboosting_defecto).std())
print("Media error gradientboosting defecto:", np.array(error_gradientboosting_defecto).mean())
print("Desviación típica error gradientboosting defecto:", np.array(error_gradientboosting_defecto).std())

Media r2 gradientboosting defecto: 0.665128458679505
Desviación típica r2 gradientboosting defecto: 0.004726586542932418
Media error gradientboosting defecto: 0.05389828725962392
Desviación típica error gradientboosting defecto: 0.00042016578352627176